#navbar{

    background: #DBD5FB;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.nav_wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

    width: 102px;
    height: 60px;
    overflow: hidden;
}

.logo img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu{

    display: flex;
    column-gap: 40px;
}

.menu li a{

    font-size: 18px;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
}

.menu li a.active{

    background: #5a4601;
    color: #fff;
    padding: 10px 12px;
    border-radius: 10px;
    
}



.menu li:nth-child(2) {

    display: flex;
    align-items: center;
    margin-top: -10px;
}

.about_icon{

    margin-left: 2px;
    font-size: 22px;
    cursor: pointer;
    transition: all linear 0.3s;
}

 .menu li:hover .about_icon{

    transform: rotate(180deg);
}

