#home{

    padding: 160px 0;
    position: relative;
}

.home_main{

    display: flex;
    align-items: center;
    
}

.home_content .heading1{

    width: 759px;
    font-size: 54px;
}

.home_content .para1{

    width: 571px;
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
    margin: 30px 0 50px 0 ;
}

.home_image{

    width: 1255px;
    height: 652px;
    
}

.home_image img{

    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.btn{

    display: flex;
    column-gap: 20px;
    align-items: center;
}

.btn_2{

    border: 2px solid #8773EF;
    padding: 13px 40px;
    border-radius: 8px;
    background: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: all linear 0.3s;
}

.btn_2:hover{

    border: 2px solid transparent;
    background: #8773EF;
    color: #fff;
    font-weight: normal;
}

.shape_1{

    position: absolute;
    left: 0;
    bottom: 0;
}

.shape_2{

    position: absolute;
    right: 0;
    top: 160px;
}

.shape_3{

    position: absolute;
    left: 55%;
    bottom: 80px;
}

.shape_4{

    position: absolute;
    right: 60px;
    top: 120px;
}