*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}

.container{

  width: 1170px;
  margin: 0 auto;
}

.Common_btn{

  background: #7258F7;
  padding: 14px 28px;
  color: #fff;
  border-radius: 8px;
}